 .testimonials {
    background-color: var(--color-bg-light);
    padding: 3rem 0;
    text-align: center;
  }
  
  .testimonials h5 {
    color: var(--color-text-secondary);
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .testimonials h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .testimonials__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .testimonial__card {
    perspective: 1000px;
    width: 300px;
  }
  
  .testimonial__card-inner {
    position: relative;
    width: 100%;
    height: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .testimonial__card:hover .testimonial__card-inner {
    transform: rotateY(180deg);
  }
  
  .testimonial__card-front,
  .testimonial__card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    background: var(--color-bg-variant);
  }
  
  .testimonial__card-front {
    background: var(--color-bg-light);
  }
  
  .testimonial__card-back {
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    transform: rotateY(180deg);
  }
  
  .testimonial__image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .testimonial__name {
    font-size: 1.2rem;
    color: var(--color-text-primary);
  }
  
  .testimonial__review {
    font-size: 1rem;
    color: var(--color-text-light);
    padding: 1rem;
  }
  
  
  
 
  @media screen and (max-width: 1024px) {
    .testimonials__container {
      gap: 1.5rem;
    }
  
    .testimonial__card {
      width: 250px;
    }
  
    .testimonial__image {
      width: 80px;
      height: 80px;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .testimonials__container {
      gap: 1rem;
    }
  
    .testimonial__card {
      width: 200px;
    }
  
    .testimonial__image {
      width: 60px;
      height: 60px;
    }
  }
 





   